.header {
    max-width: 1184px;
    margin: 0 48px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

/* @media screen and (max-width: 1200px) {
    .header {
        margin: 0px 48px auto;
        padding-top: 28px;
    }
} */