.place__text {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 770px) {
    .place__text {
        max-width: 350px;
    }
}

@media screen and (max-width: 630px) {
    .place__text {
        max-width: 582px;
    }
}
@media screen and (max-width: 320px) {
    .place__text {
        margin: 0 16px;
        max-width: 320px;
    }
}
