.cover__subtitle {
    opacity: 1;
    margin: 32px auto 0;
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 195px;
    left: 332px;
    z-index: 2;
}