.cover__title {
    margin: 195px auto auto;
    width: 560px;
    height: 152px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    top: 195px;
    color: #FFFFFF;
    z-index: 2;
}
